body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 900;
  margin-inline-start: 40px;
  margin-block-start: 50px;



  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 702;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-inline-start: 40px;
  margin-block-start: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 402;
  font-style: normal;
}

.page {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  background-color: hsl(244, 38%, 16%);
  border-radius: 6px;
  width: 1000px;
  height: 400px;
}

.side {
  flex: 1;
}

.down {
  display: flex;
}

.part {
  flex: 1;
  margin-block-start: 30px;
  margin-inline-start: 40px;
  color: hsla(0, 0%, 100%, 0.897);
  height: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 416;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h6{
  margin-block-start: -15px;
}

.shade {
  position: relative;
}

.shade::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 400px;
  background-color: rgba(148, 11, 206, 0.76);
  mix-blend-mode: multiply;
}

img {
  height: 400px;
  width: 520px;
}

@media screen and (max-width: 375px){



}